.add-data{
    background-color: lightblue;
}
.atas{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pengisian-tabel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pengisian{
    background-color: green;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.tombol-pengisian{
    display: flex;
    justify-content: right;
    align-items: right;
}
.tombol-kirim{
    border-radius: 30%;
    margin-bottom: 2%;
    display: flex;
    justify-content: right;
    align-items: right;
}
